.nav{
    position: relative;
    width: 100%;
    padding: .5rem 5vw;
    height: auto;
    // background-color: #050b10;
    // background-color: #000529;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // box-shadow: 0px 0px 10px 0px #FFDF6C;


    h1{
        color : #FFDF6C;
    }
    .showName{
        position: absolute;
        top: 0;
        left: -100%;
        width: auto;
        font-size: 1.2rem;
        text-align: center;
        color: black;
        font-weight: bold;
        padding: .3rem 1rem;
        border-radius: 10px;
        border-top-right-radius: 1px;
        background-color: #FFDF6C;

        &::before{
            content : '';
            position: absolute;
            top: -20px; right: 0px;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            border-bottom: 20px solid #FFDF6C;
        }

    }
    .nav_list{
        display: flex;
        flex-direction: row;
        align-items: center;
        .nav_item{
            margin: 0 .5rem;
            width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
    
            img{
                margin: 0; padding: 0;
                height: 100%;
            }
        }
    }
}