.nav{
    width: 100%;
    padding: .5rem 5vw;
    background-color: #111a21;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px #111a21;

    .showName{
        position: absolute;
        left: -100%;
        font-size: 1.2rem;
        color: black;
        font-weight: bold;
        padding: .3rem 1rem;
        border-radius: 10px;
        border-top-right-radius: 1px;
        background-color: #FFDF6C;

        &::before{
            content : '';
            position: absolute;
            top: -20px; right: 0px;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            border-bottom: 20px solid #FFDF6C;
        }

    }
    .nav_list{
        display: flex;
        align-items: center;
        .nav_item{
            margin: 0 .5rem;
            width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
    
            img{
                margin: 0; padding: 0;
                height: 100%;
            }
        }
    }
}