.main{
    width: 500px;
    margin-top: 10rem;
    padding: 2vw 2vw 0 2vw;
    background-color: #051e2ed0;
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 10px;
    background-color: #111a21;

    a{
        width: 100%;
        text-decoration: none;
    }
    .main_item{
        width: 100%;
        height: 2rem;
        padding-bottom: 5px;
        margin-bottom: 1.5em;
        display: flex;
        flex-direction: row;
        align-items: center;

        img{
            width: 2rem;
            height: 100%;
            margin-right: 1.5rem;
        }
        p{
            font-size: 1.4rem;
        }
        &:hover{
            border-bottom: 1px solid #71686D;
        }
    }
}