.main{
    width: 500px;
    margin-top: 10rem;
    height: auto;
    padding: 2vw 2vw 0 2vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #051e2ed0;
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 10px;

    a{
        width: 100%;
        text-decoration: none;
    }
    .main_item{
        width: 100%;
        height: 2rem;
        padding-bottom: 5px;
        margin-bottom: 1.5em;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        img{
            width: 2rem;
            height: 100%;
            margin-right: 1.5rem;
        }
        p{
            font-size: 1.4rem;
            color : #FFDF6C;
        }
        &:hover{
            border-bottom: 1px solid red;
        }
    }
}