.Location{
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 25rem);
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;


    #map {
        position: relative;
        width: 80%;
        height: 20rem;

        .mapboxgl-control-container{
            position: absolute;
            bottom : 0; 
            width: 50rem;

            .mapboxgl-ctrl{
                position: absolute;
                background-color: rgb(233, 229, 229);
                bottom: 0;
                height: 2.5rem;
                padding: .5rem .8rem 0 .8rem;
                width: 100%;

                .mapboxgl-ctrl-attrib-inner{
                    position: absolute; top: 0;
                    width: 100%;
                }

                .mapboxgl-ctrl-geocoder--input{
                    border: 1px solid red;
                }
            }
        }    
    }
}