.Location{
    position: relative;
    width: 90%;
    height: 45rem;
    background-color: #111a21;
    box-shadow: 0px 0px 10px 0px #111a21;
    display: flex;
    justify-content: center;
    overflow: hidden;

    .sidebar {
        color: #ffffff;
        padding: 6px 12px;
        z-index: 1;
        position: absolute;
        top: 1rem; left: 40rem;
    }

    #map {
        position: absolute;
        top: 5rem;
        width: 100%;
        height: 40rem;

        .mapboxgl-control-container{
            position: absolute;
            top: -3.5rem;
            left: 1rem;
            width: 100%;


            .mapboxgl-ctrl-top-right{
                .mapboxgl-ctrl-geocoder{
                    min-width: 35rem;
                }
            }
            .mapboxgl-ctrl-bottom-right{
                position: absolute;
                top: 1rem;
                right: 3rem;

                .mapboxgl-ctrl{
                    .mapboxgl-ctrl-attrib-button{
                        display: none;
                    }
                }
            }
        }    
    }
}