*{
    box-sizing: border-box;
    margin: 0; padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
.root{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: auto;
    min-height: 100vh;
    position: relative;
    background-color: #272935;
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;
    align-items: center;
    // background-color: #041e1b;
}

.Container{
    margin-top: 5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}