.Calendar{
    margin-top: 5rem;
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;

    .Btns{
        width: 100%;
        height: 3rem;
        display: flex;
        flex-direction: row;
        align-items: center;

        .btn_inner,.btn_inner_month,.btn_inner_year{
            width: 40%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover{
                background-color: #242530;
            }
        }
        .btn_inner_month,.btn_inner_year{
            width: 50%;
        }
        .btn,.btn_month,.btn_year{
            width: 15%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px solid rgb(5, 3, 28);
            border-left: 1px solid rgb(5, 3, 28);
            img{
                height: 90%;
            }
            &:hover{
                background-color: #242530;
            }
        }
        .btn_month,.btn_year{
            width: 25%;
        }
    }
    .days{
        width: 100%;
        height: 3rem;
        display: flex;
        flex-direction: row;
        border-right: 1px solid rgb(5, 3, 28);
        border-left: 1px solid rgb(5, 3, 28);

        p{
            width: calc(100% / 7);
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .cal,.MonthsList,.YearsList{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .cal_row,.Month_row,.YearRow{
            width: 100%;
            height: 6rem;
            display: flex;
            flex-direction: row;

            .day,.Month,.Year{
                width: calc(100% / 7);
                height: 100%;
                border: 1px solid black;
                color: black;
                text-align: center;
                padding-top: 5px;
            }
            .not_this_month{
                color : darkgray;
            }
            .currentDay{
                background-color: #121318;
            }
        }
    }
    .MonthsList,.YearsList{
        .Month_row,.YearRow{
            height: 3rem;
            .Month,.Year{
                display: flex;
                align-items: center;
                justify-content: center;
                width: calc(100% / 4);
            }
        }
    }
}