.Calendar{
    width: 600px;
    background-color: #111a21;
    padding: 1rem;

    .Btns{
        width: 100%;
        height: 3rem;
        display: flex;
        flex-direction: row;

        .btn_inner,.btn_inner_month,.btn_inner_year{
            width: 40%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover{
                background-color: #ccd4dd;
            }
        }
        .btn_inner_month,.btn_inner_year{
            width: 50%;
        }
        .btn,.btn_month,.btn_year{
            width: 15%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #ccd4dd;
            border-left: 1px solid #ccd4dd;
            img{
                height: 90%;
            }
            &:hover{
                background-color: #ccd4dd;
            }
        }
        .btn_month,.btn_year{
            width: 25%;
        }
    }
    .days{
        height: 3rem;
        display: flex;
        flex-direction: row;
        border-right: 1px solid #ccd4dd;
        border-left: 1px solid#ccd4dd;

        p{
            width: calc(100% / 7);
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .cal,.MonthsList,.YearsList{
        .cal_row,.Month_row,.YearRow{
            width: 100%;
            height: 6rem;
            display: flex;
            flex-direction: row;

            .day,.Month,.Year{
                width: calc(100% / 7);
                border: 1px solid #ccd4dd;
                text-align: center;
                padding-top: 5px;
                .inner{
                    position: relative;
                    left: calc((100% - 2rem) / 2);
                    width: 2rem;
                    height: 2rem;
                    border-radius: 100%;
                    margin-top: .5rem;
                    padding-top: .25rem;
                    background-color: #ccd4dd;       
                    p{
                        font-size: 90%;
                    }
                }

                &:hover{
                    background-color: #ccd4dd;
                }
            }
            .not_this_month{
                color : #ccd4dd;
            }
            .currentDay{
                background-color: #a9081b9c;
            }
            .selected{
                background-color: #612525b9;
            }
        }
    }
    .MonthsList,.YearsList{
        .Month_row,.YearRow{
            height: 3rem;
            .Month,.Year{
                width: calc(100% / 4);
            }
        }
    }
}

.SelectedDay{
    padding-top: 1rem;
    width: 500px;
    height: 672px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px #111a21;
    align-items: center;
    margin-right: 5rem;
    border-radius: 5px;
    background-color: #111a21;

    .Options{
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        border-bottom: 1px solid #ccd4dd;
        border-top: 1px solid #ccd4dd;

        img{
            height: 90%;
        }
    }
    .SelectDayMain{
        width: 100%;
        overflow-y: auto;

        .SeledDayItem{
            width: 100%;
            height: 3rem;
            padding: 0.2rem 0.5rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #ccd4dd;

            img{
                height: 80%;
                z-index: 20;
            }
        }
    }
}

.AddNewEvent{
    width: 600px;
    height: 704px;
    padding-top: 1rem;
    text-align: center;
    background-color: #111a21;

    form{
        width: 100%;
        padding: 0 10%;

        label{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            input,textarea{
                width: 100%;
                padding: .2rem;
                text-align: center;
                margin: 1rem 0;
            }
        }
        .set{
            width: 100%;
            div{
                width: 12rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: start;

                p{
                    width: 10rem;
                }
                input{
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }
    .btns{
        margin-top: 2rem;
        button{
            padding: .3rem 1rem;
            margin: 0 1rem;
        }
    }
}


.DescriptionDay{
    width: 600px;
    height: 704px;
    padding-top: 1rem;
    background-color: #111a21;
    .edit{
        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            label{
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                input,textarea{
                    width: 100%;
                    padding: .2rem;
                    text-align: center;
                    margin: 1rem 0;
                }
            }
            .set{
                width: 100%;
                div{
                    width: 13rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
    
                    p{
                        position: relative;
                        width: 11rem;
                    }
                    input{
                        position: relative; right: .25rem;
                        width: 1rem;
                        height: 1rem;
                    }
                }
            }
            .inCalendar{
                width: 12rem;
                display: flex;
                flex-direction: row;

                p{
                    width: 90%;
                }
                input{
                    width: 1rem;
                }
            }
        }
        button{
            margin-top: 1rem;
            padding: .4rem 2rem;
        }
    }


    .info{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        h1{
            margin: 1.5rem 0;
        }
        button{
            width: 50%;
            margin-left: 25%;
        }
    }
}

